body,td,th {
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background-color: #003366;
}
.LinksStyle {
	font-size: 11px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;

}
.subText {
	font-size: 9px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;

}
.style1 {
	font-size: 16px;
	font-style: italic;
	color: #CC9966;
}
a:link {
	color: #CC9966;
}
a:visited {
	color: #CC9966;
}
.style2 {font-size: 18px}
.style3 {font-size: 14px}
